numpy # unpinned we test with latest version now
einops
psutil
termcolor
colorama
packaging
nvidia-ml-py # mod_name=pynvml
diskcache
google-auth # mod_name=google.auth
requests
pyvis
dill
astunparse
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
